nav {
    text-align: center;
    background-color: darkolivegreen;
    color: whitesmoke;
    height: 90px;
    font-size: xx-large;
    padding: 18px;
    font-family: 'Playfair Display', serif;
}

.fiveDay {
    background-color: rgb(92, 167, 92);
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
    text-size-adjust: 12px;
   
}

.currentConditions {
    background-color: rgb(85, 114, 85);
}

.search {
    background-color: lightgray;
    font-family: 'Playfair Display', serif;
}

.uviFavorable {
    background-color: darkolivegreen;
    color: whitesmoke;
}

.uviModerate {
    background-color: rgb(195, 195, 97);
    color: whitesmoke;

}

.uviSevere {
    background-color: rgb(177, 65, 65);
    color: whitesmoke
}

.searchHistory {
    width: 14rem;
    text-align: left;
    
    
}





